@model eCommerce.Models.ShopViewModel

@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

<form method="get" asp-action="Index">
    <div class="row mb-4 align-items-center">
        <div class="col-auto">
            <label for="category" class="col-form-label">Category:</label>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("selectedCategory", Model.Categories, "Select a Category", new { @class = "form-control", id = "category" })
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>


<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div style="text-align: center;">
                <img src="@Url.Content($"~/images/products/{product.Image}")" alt="@product.Name" class="img-thumbnail img-fluid" style="max-width: 400px; max-height: 400px; width: auto; height: auto;" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">Price: @product.Price.ToString("C")</p>
                    <p class="card-text">Stock: @product.Stock</p>
                    <a href="@Url.Action("Details", "Shop", new { id = product.Id })" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    }
</div>
