@model ConfirmationViewModel

@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="border p-4 mt-4">
    <h1 class="mb-4">Order Confirmation</h1>

    @{
        if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }

    <div class="row mb-4">
        <div class="col-md-6">
            <h3 class="mb-3">Order Details</h3>
            <p><strong>Order ID:</strong> @Model.OrderId</p>
            <p><strong>Customer Name:</strong> @Model.Name</p>
            <p><strong>Customer Email:</strong> @Model.Email</p>
            <p><strong>Order Date:</strong> @Model.OrderDate.ToShortDateString()</p>
            <p><strong>Total Amount:</strong> @Model.Items.Sum(item => item.Price * item.Quantity).ToString("C")</p>
        </div>

        <div class="col-md-6">
            <h3 class="mb-3">Shipping Information</h3>
            <p><strong>Shipping Name:</strong> @Model.ShippingName</p>
            <p><strong>Shipping Address:</strong> @Model.Address, @Model.City, @Model.State, @Model.ZipCode</p>
            <p><strong>Payment Method:</strong> @Model.Payment</p>
        </div>
    </div>
    <hr />

    <h4>Items:</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <a href="@Url.Action("Index", "Shop", new { area = "" })" class="btn btn-dark">Continue Shopping</a>
    </div>
</div>
