@model IEnumerable<eCommerce.Models.Product>

@{
    ViewData["Title"] = "Manage Products";
}

@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<div class="border p-4">
    <h1>Manage Products</h1>
    <a class="btn btn-primary mb-3" asp-action="Create">Create New Product</a>
    <div class="table-responsive">
        <table class="table table-bordered table-hover mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                $@String.Format("{0:0.00}", item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@Url.Content($"~/images/products/{item.Image}")" alt="@item.Name" style="max-width: 100px; height: auto;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>